/*************GENERAL SELECTORS*************/
div
{
    background-color: #E4F9F5;
}
body
{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1
{
    font-size: 5.625rem;
    margin-block-start: 0px;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
}
h2
{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3
{
    font-family: 'Montserrat', sans-serif;
}
/*************CLASS SELECTORS*************/
.top-container
{
    padding: 20px;
}
.middle-container
{}

.bottom-container
{}

.pro
{
    text-decoration: underline;
}
.bottom-cloud
{
    position: absolute;
}
.top-cloud
{
    position: absolute;
    right: 500px;
    margin: 10px 0px 0px;
}
.coding-img
{
    width: 300px;
}
/*************CLASS SELECTORS*************/
#skill-hr
{
    border-top: 2px dashed black;
}
